@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: local("Raleway"),
      url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: local("Roboto"),
      url(./assets/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: local("Roboto"),
      url(./assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  }